[build]
  command = "npm run build:client"
  publish = "dist"

[[redirects]]
  from = "/api/*"
  to = "https://truecost-backend-czfm.onrender.com/api/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
