flask
flask-cors
flask-sqlalchemy
gunicorn
flask-jwt-extended
flask-bcrypt
google-generativeai
groq
python-dotenv
pydantic
pytest
flask-executor
pypdf
psycopg2-binary
email-validator
langchain>=0.2.0
langchain-groq>=0.1.0
langchain-community>=0.2.0
langchain-core>=0.2.0
chromadb
sentence-transformers
langchain-chroma
tiktoken
dnspython
